---
published: true
layout: default
title: 'home'
slideshow: 
  - slide: "frontpage-cusco.png"
    title: Creación de Datos
    subtitle: La formación de alianzas para crear datos geoespaciales en ciudades secundarias
  - slide: "frontpage-cusco2.png"
    title: Resilecia
    subtitle: La creación de capacidad local en la toma de decisiones basada en la ciencia geoespacial para mejorar la capacidad de recuperación
  - slide: "frontpage-cusco3.png"
    title: Preparación para Emergencias
    subtitle: Mejorar la comprensión de las ciudades secundarias a través de los datos y la cartografía para prepararse mejor para y responder a emergencias
---

<!--need a comment here for page to display correctly-->

<div class='section dark'>
  <div class='limiter'>
    <div id='tagline' class='centered'>
      <p id='mission_statement'>El Mapeo de Ciudades secundarias para la Resiliencia, Seguridad Humana, y Preparación para Emergencias es la iniciativa el buque insignia basado en el campo de la Oficina del Geográfica.</p>
    </div>
    <div id='taglist'>
          <ul style="list-style-type:disc">
              <li>
                  La creación de asociaciones para crear datos geoespaciales en ciudades secundarias
              </li>
              <li>
                  Mejorar la comprensión de las ciudades secundarias a través de los datos y la cartografía
              </li>
              <li>
                  la capacidad local de construcción en la toma de decisiones basada en la ciencia geoespacial
              </li>
              <li>
                  Proporcionar soluciones de datos geoespaciales abiertos
              </li>
              <li>
                  Facilitar las alianzas y redes de ciudades secundarias a largo plazo
Selección de casos de Estudios
              </li>
          </ul>
    </div>
    <h4 class='title centered'>Selección de casos de Estudios<br /> <span class='subtitle'>Descubrir ejemplos innovadores de datos abiertos y empoderamiento de la comunidad</span></h4>
    <ul class='activities grid clearfix'>
      {% for case in site.categories.projecto%}
        {% if page.lang == case.lang %}
          {% for tag in case.tags %}
            {% if tag == 'splash' %}
              <li>
                <!--<a href='{{site.baseurl}}{{case.url}}' style='background-image:url("http://api.tiles.mapbox.com/v3/{{case.map}}/{{case.center[0].lon}},{{case.center[0].lat}},{{case.center[0].zoom}}/640x300.png");'>-->
                <a href='{{site.baseurl}}{{case.url}}' style='background-image:url("http://api.tiles.mapbox.com/v4/hiu.c41pds4i/-72.5,-14.548,7/640x300.png?access_token=pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ");'>
                  <div class='overlay'></div>
                  <div class='label'>
                    {% for name in site.categories.cities %}
                      {% if name.city == case.city %}
                        <!--{{name.title}}-->
                      {% endif %}
                    {% endfor %}
                  </div>
                  <h4 class='case-title'>{{case.title}}, {{case.country}}</h4>
                  <p class='city-desc'>{{case.subtitle | truncate:120}}</p>
                  <span class='more'>More</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>

  </div>
</div>

<div class='section data-coverage'>
  <!--<h4 class='title centered'>Secondary Cities</h4>-->
  <img class='map-title' width='400px' src='{{site.baseurl}}/img/SecondaryCitiesType-white.png'>
  <div class='map' id='map'>
    <small class='attribution'>Mapa visualiza la ubicación de las ciudades secundarias.</small>
  </div>
</div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ';
var map = L.mapbox.map('map', 'hiu.TestMe2', {
  zoomControl: false
}).setView([30, 10], 3);

//https://www.mapbox.com/mapbox.js/example/v1.0.0/disable-zooming-panning/
// Disable drag and zoom handlers.
map.dragging.disable();
map.touchZoom.disable();
map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();

// Disable tap handler, if present.
if (map.tap) map.tap.disable();

</script>
