<div class='footer blue'>
  <div class='centered clearfix'>
    <div id='partners' class='partners'>
      <h4 class='title'>Partners <br />
        <span class='subtitle'>We are a growing coalition of interested stakeholders.</span>
      </h4>
      <div class='partners'>
<!--
        <a href='//gfdrr.org' class='icon gfdrr'>Global Facility for Disaster Reduction and Recovery</a>
        <a href='//worldbank.org' class='icon wb'>WorldBank</a>
        <a href='//hot.openstreetmap.org' class='icon hot'>Humanitarian OpenStreetMap Team</a>
        <a href='//www.redcross.org/' class='icon arc'>American Red Cross</a>
        <a href='//developmentseed.org' class='icon ds'>DevelopmentSeed</a>
        <a href='//www.usaid.gov/what-we-do/science-technolog-and-innovation/data-analytics-development' class='icon usaid'>USAID</a>
-->
<a href='https://http://www.state.gov/' class='icon2 usdos-logo-seal'>US Department of State</a>
<a href='https://hiu.state.gov/ittc/ittc.aspx' class='icon2 hiu_logo'>US Department of State - Humanitarian Information Unit</a>
<a href='https://http://www.unsaac.edu.pe/' class='icon2 unsaac_logo'>San Antonio Abad University</a>
<a href='https://www.esri.com' class='icon2 esrilogo'>ESRI</a>
      </div>
    </div>
  </div>
  <div class='limiter centered'>
    <small>Data &copy; OpenStreetMap contributors</small>
  </div>
</div>
