<aside role="complimentary">
  <div class="promo-box shadowed">
    <a href="{{ site.baseurl }}/casestudy/cusco/#summary"><h2>Summary</h2></a>
    <header role="header">
      <a href="{{ site.baseurl }}/casestudy/cusco/#workshop"><h2>Workshop</h2></a>
    </header>
    <ul>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#outcomes">Outcomes</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#tools">Tools</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#data">Data</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#capstone">Capstone Project</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#materials">Materials</a></li>
      <!--<li><a href="{{ site.baseurl }}/casestudy/cusco/#collaboration">Follow Up Activities</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#collaboration">Collaboration</a></li>-->
    </ul>
    <header role="header">
      <a href="{{ site.baseurl }}/casestudy/cusco/#mapgive"><h2>MapGive Workshop</h2></a>
    </header>
    <header role="header">
      <a href="{{ site.baseurl }}/casestudy/cusco/#collaboration"><h2>Collaboration</h2></a>
    </header>
    <ul>
      <li><a href="http://cuscogeonode.state.gov/">Cusco Geonode</a></li>
      <li><a href="https://slack.com/">Slack Chat</a></li>
    </ul>
  </div>
</aside>



