<aside role="complimentary">
  <div class="promo-box shadowed">
    <header role="header">
      <h2>Sections</h2>
    </header>
    <ul>
      <li><a href="{{ site.baseurl }}/stories/">Summary</a></li>
      <li><a href="{{ site.baseurl }}/learn-to-map/">Tools</a></li>
      <li><a href="{{ site.baseurl }}/frequently-asked-questions/">Data</a></li>
      <li><a href="{{ site.baseurl }}/ittc/">Capstone Project</a></li>
      <li><a href="{{ site.baseurl }}/ittc/">Outcomes</a></li>
      <li><a href="{{ site.baseurl }}/ittc/">Materials</a></li>
    </ul>
  </div>
</aside>
