<aside role="complimentary">
  <div class="promo-box shadowed">
    <header role="header">
      <h2>Sections</h2>
    </header>
    <ul>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#summary">Summary</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#tools">Tools</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#data">Data</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#capstone">Capstone Project</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#outcomes">Outcomes</a></li>
      <li><a href="{{ site.baseurl }}/casestudy/cusco/#materials">Materials</a></li>
    </ul>
  </div>
</aside>
