<aside role="complimentary">
  <div class="promo-box shadowed">
    <a href="{{ site.baseurl }}/projecto/cusco/#summary"><h2>Resumen</h2></a>
    <header role="header">
      <a href="{{ site.baseurl }}/projecto/cusco/#workshop"><h2>Taller</h2></a>
    </header>
    <ul>
      <li><a href="{{ site.baseurl }}/projecto/cusco/#outcomes">Resultado</a></li>
      <li><a href="{{ site.baseurl }}/projecto/cusco/#tools">Herramientas</a></li>
      <li><a href="{{ site.baseurl }}/projecto/cusco/#data">Datos</a></li>
      <li><a href="{{ site.baseurl }}/projecto/cusco/#capstone">Proyecto final</a></li>
      <li><a href="{{ site.baseurl }}/projecto/cusco/#materials">Materiales</a></li>
      <!--<li><a href="{{ site.baseurl }}/projecto/cusco/#collaboration">Follow Up Activities</a></li>
      <li><a href="{{ site.baseurl }}/projecto/cusco/#collaboration">Collaboration</a></li>-->
    </ul>
    <header role="header">
      <a href="{{ site.baseurl }}/projecto/cusco/#collaboration"><h2>Colaboración</h2></a>
    </header>
    <ul>
      <li><a href="http://cuscogeonode.state.gov/">Cusco Geonode</a></li>
      <li><a href="https://slack.com/">Charlar con Slack</a></li>
    </ul>
  </div>
</aside>
