---
layout: interactive2
category: casestudy
city: 'cusco'
country: 'Peru'
id: 'cusco'
subtitle: 'Emerging Partnerships'
preview: 'kathmandu.png'
map: 'gfdrr.map-dks4ih6b,gfdrr.kathmandu-schools'
shapefile_date: 'October 15th 2013'
overpass_link: 'http://overpass-api.de/api/interpreter?data=%28way%5B%22amenity%22%7E%22college%7Ckindergarten%7Cschool%7Cuniversity%22%5D%2827%2E3%2C84%2E6%2C28%2E3%2C86%29%3B%3E%3Bway%5B%22building%22%7E%22college%7Ckindergarten%7Cschool%7Cuniversity%22%5D%2827%2E3%2C84%2E6%2C28%2E3%2C86%29%3B%3E%3B%29%3Bout%20body%3B%0A'
center:
  - lat: -13.59
    lon: -71.95
    zoom: 11
tags:
- cusco
- featured
- splash
---

<div class='limiter2'>

</div>

<div class='bodylimiter'>

  <div class='title-block2'>
    <h2>
      {{page.title}}
      {% if page.subtitle %}
        <span class='subtitle'>{{page.subtitle}}</span>
      {% endif %}
    </h2>
  </div>

  <div class="row">

    <!--<div class='title-block-text'>-->
    <div class="col-md-9">

      <!--<section class="top_panel">-->

      <div class='prose'><strong>Workshop:  June 29 – July 3</strong><p>
        The 5-day workshop launched the Office of the Geographer’s Secondary Cities project to map critical data in rapidly growing urban regions of the world.  Cusco, Peru was selected for the initial project to create a demonstration focusing on data generation of human geography themes for emergency preparedness, security, and resilience.  The goal of this workshop was to teach spatial thinking by exploring geospatial science through the integration of multiple geospatial tools.  Students learned basic skills for field-based data generation, management and sharing as well as the fundamentals of generating geospatial data and cartography.
        <p><p>
        The workshop included 26 participants:  Universidad Nacional de San Antonio Abad del Cusco - UNSAAC (9); Universidad Alas Peruanas -UAP (4); Cusco Regional government (7); the Ministry of Agriculture (1) and Instituto Nacional de Defensa Civil del Peru – INDECI (2). (link to sites)  Participants had a broad range of backgrounds, came from numerous disciplines, and had a mix of GIS skills.  University students were partnered with government representatives to share perspectives and experience and to establish teams for the follow up activities of the workshop.
        <p><p>
        This was a unique workshop for three reasons:  
        <ol class='indent'>
        <li>
        demonstration and learning of how cutting-edge geospatial tools can be seamlessly integrated 
        </li>
        <li>
        emphasis on hands-on, field-based data generation and analysis of human geography data for emergency preparedness, human security and resilience 
        </li>
        <li>
        long term investment through follow up activities.  
        </li>
        </ol>
        Additionally, the high level of interest of the workshop students fueled a highly interactive session enriched by the diverse backgrounds of the participants, the Ministry of the Environment, Ministry of Agriculture, Cusco Regional Government and University students. The workshop culminated in a team project and presentation demonstrating how the integration of technologies facilitates field data collection, sharing and analysis.  

      </div>

      <br>
      <section class='section snapshot' style="background: url('{{site.baseurl}}/img/WebsiteBackgroundMap-1200w.png') no-repeat">

        <!--<div class="static_map"  id="cusco_circular_zoomedout"></div>-->
        <div class="static_map" id="cusco_circular_zoomedout"  style="background: url('{{site.baseurl}}/img/SouthAmericaZoomedOut-300w.png') no-repeat"></div>

        <!--<div class="static_map" id="cusco_circular_zoomedin"></div>-->
        <div class="static_map" id="cusco_circular_zoomedin"  style="background: url('{{site.baseurl}}/img/CuscoZoomedIn-300w.png') no-repeat"></div>

      </section>

      <p>
      <h2>Tools</h2>
      <section id="tools" class="prose">

        Students were introduced to a suite of geospatial tools.  Working with different tools, both industry standards (i.e. ArcGIS) and open source (i.e., OSM), workshop participants were provided a broad array of choices.  Additionally they learned about how these tools can be integrated for value-added products and flexible data collection techniques.
        <br>
        <br>

        <table>
          <tr>
            <th>Data Generation</th>
            <th>Data Management</th>
            <th>Data Sharing</th>
            <th>Field Data</th>
            <th>GPS</th>
          </tr>
          <tr>
            <td>ArcGIS (ArcMap)</td>
            <td>ArcGIS (ArcCatalog)</td>
            <td>ArcGIS OnLine</td>
            <td>Survey123</td>
            <td>OSMand</td>
          </tr>
          <tr>
            <td>Survey123</td>
            <td>Cusco Geonode</td>
            <td>Cusco Geonode</td>
            <td>Field Papers</td>
            <td>Polaris Navigator</td>
          </tr>
          <tr>
            <td>OpenStreetMap</td>
            <td></td>
            <td>OpenStreetMap</td>
            <td>Android with GPS Apps</td>
            <td>Garmin eTrex</td>
          </tr>
          <tr>
            <td>Excel spreadsheets</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

      </section>

      <h2>Data</h2>
      <section id="data" class="prose">

        <ul class="indent restore_wrap">
          <li>Students used multiple data types and formats as well as generating their own data.  Working with UN population data, students learned the nuances of working with attribute data, understanding spreadsheets and using simple formulas in Excel, joining tables in ArcMap, and symbolizing data for visualization.  </li>
          <li>Students were introduced to the fundamentals of remote sensing and used high resolution satellite imagery to collect data for emergency preparedness and urban sustainability.</li>
          <li>Students developed field data collection skills through using smartphones with GPS apps and <a href="http://survey123.esri.com/">Survey123</a>.  After creating a survey form using XLSform specification, students used Survey123 mobile app to collect data.  Using both smartphones with GPS apps and hand-held GPS units, students could compare results and assess the different tools.</li>
        </ul>

        <strong>Data Sharing</strong>
        Essential to data for emergency preparedness are strategies for sharing these data.  Students were introduced to the <a href="http://cuscogeonode.state.gov/">Cusco Geonode</a> where data are discoverable and can be shared amongst multiple users.  Additionally, students learned about the metadata capabilities of Geonode and the importance of following proper protocols and practices for good metadata that enhances sharing and discoverability.

      </section>

      <h2>Capstone Project</h2>
      <section id="capstone" class="prose">
        Using an earthquake as the scenario, students were tasked with collecting thematic data needed for emergency preparedness.  The exercise was situated in the University area, focusing on the adjacent neighborhoods.  Working in teams and assigned a specific neighborhood (include map of neighborhoods – see powerpoint:  HGNeighborhoods), students used their newly acquired field data collection skills to collect data on at least two themes (link to themes – see powerpoint HG Neighborhoods).  The scenario for the project was to respond to an earthquake event by collecting thematic data needed for emergency preparedness.  Based on human geography themes
      </section>

      <section id="outcomes">
        <h2>Outcomes</h2>
        <div class="prose">
          <ul class="indent restore_wrap">
            <li>6 field-based projects collecting data on neighborhoods of the National University of Saint Anthony the Abbot of Cusco 9 (link to examples? Project powerpoints?) </li>
            <li>Preliminary data on thematic human geography data (link to Cusco Geonode)</li>
            <li>Established teams of university and government representatives</li>
            <li>Partnership with Office of the Geographer, ESRI, UNAAC, US Embassy</li>
            <li>Follow-up activities</li>
          </ul>

          <figure id="changedetection">
                <a href="{{site.baseurl}}/cusco-change-detection"><img src="{{site.baseurl}}/img/cusco_change_dect.png" style="width:500px"></a>
                <figcaption>Fig. - As part of the workshop remote sensing lesson, students used Landsat 7 and Landsat 8 imagery to assess change detection in Cusco from 2000 to 2014.  Using Image Analysis in ESRI’s ArcGIS software package, student undertook a change detection analysis.</figcaption>
          </figure>
        </div>
      </section>

      
      <section id="follow_up">
        <h2>Follow-up Activities</h2>
        <div class="prose">
          <ul class="indent restore_wrap">
            <li>Trello (link to site – do they have a site), a web-based project management tool will be set up to facilitate communication and tracking of follow up projects and activities.</li>
            <li>Change detection webinar will be hosted to discuss the exercise and analysis demonstrated in the workshop.</li>
            <li>MapGive project (link to MapGive)</li>
            <li>Discuss and develop data generation projects:  solicit, identify and prioritize data generation project.</li>
          </ul>
        </div>
      </section>

      <!--end of top_panel section
      </section>-->


      <div class='tabdiv'>
        <div>
            <h2>Materials</h2>
            </br>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Day 1</a></li>
          <li><a data-toggle="tab" href="#menu1">Day 2</a></li>
          <li><a data-toggle="tab" href="#menu2">Day 3</a></li>
          <li><a data-toggle="tab" href="#menu3">Day 4</a></li>
          <li><a data-toggle="tab" href="#menu4">Day 5</a></li>
          <li><a data-toggle="tab" href="#menu5">Working in ArcGIS – Additional tools</a></li>
          <li><a data-toggle="tab" href="#menu6">Workshop Project</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>Day 1</h3>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Lab1_ArcGISIntroduction_ml.pdf">Exercise 1</a></p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Day 2</h3>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Peru_Cusco_Exercise2_2015_ver2.pdf">Exercise 2</a></p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Day 3</h3>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Exercise3_2015_ml.pdf">Exercise 3</a></p>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Day 4</h3>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Exercise 4ab_ml.pdf">Exercise 4</a></p>
          </div>
          <div id="menu4" class="tab-pane fade">
            <h3>Day 5</h3>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/SC_Cusco_Exercise5_ml.pdf">Exercise 5</a></p>
          </div>
          <div id="menu5" class="tab-pane fade">
            <h3>Additional Materials</h3>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Additional exercises.pdf">Additional exercises</a></p>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Spatial Thinking.pdf">Spatial Thinking</a></p>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/The 13 themes of Human Geography.pdf">The 13 themes of Human Geography</a></p>
          </div>
          <div id="menu6" class="tab-pane fade">
            <h3>Workshop Project</h3>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Atlas_FieldPapers_OSM.pdf">Field Papers Atlas: OSM basemap</a></p>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Atlas_FieldPapers_Sat.pdf">Field Papers Atlas: Satellite basemap</a></p>
            <p><a href="{{site.baseurl}}/workshop-materials/en/cusco/Workshop Project.pdf">Field Papers Atlas: OSM basemap --version 2</a></p>
          </div>
        </div>

      </div>

    <!--end of col9-->
    </div>

    <div class="col-md-offset-1 col-md-2">
      {% include more-info.html %}
    </div>

    <!--end of row-->
    </div>

    <!--<section class='section snapshot' style="background: url('{{site.baseurl}}/img/SouthAmericaZoomedOut.png') no-repeat">-->

    <!--http://stackoverflow.com/questions/28329234/can-i-use-liquid-tags-in-css-to-have-jekyll-use-a-different-background-image-on-->
<!--
     <div class:'static_map'>
        <img src='http://api.tiles.mapbox.com/v4/mapbox.streets/-71.96,-13.53,11/500x300.png?access_token=pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ'>
     </div>
-->
<!--
    <div class='download_button'>
      <span class='button toggle'>Download the data</span>
    </div>
<div class='map-containment2'>
  <div id='map' class='map'></div>
</div>
-->
<!--http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_menu_list-inline&stacked=h-->

<!--end body limiter div?-->
</div>

</body>
</html>


