---
layout: interactive2
category: casestudy
city: 'cusco'
country: 'Peru'
id: 'Cusco, Peru'
subtitle: 'Emerging Partnerships'
preview: 'kathmandu.png'
map: 'gfdrr.map-dks4ih6b,gfdrr.kathmandu-schools'
shapefile_date: 'October 15th 2013'
overpass_link: 'http://overpass-api.de/api/interpreter?data=%28way%5B%22amenity%22%7E%22college%7Ckindergarten%7Cschool%7Cuniversity%22%5D%2827%2E3%2C84%2E6%2C28%2E3%2C86%29%3B%3E%3Bway%5B%22building%22%7E%22college%7Ckindergarten%7Cschool%7Cuniversity%22%5D%2827%2E3%2C84%2E6%2C28%2E3%2C86%29%3B%3E%3B%29%3Bout%20body%3B%0A'
center:
  - lat: -13.59
    lon: -71.95
    zoom: 11
tags:
- cusco
- featured
- splash
---

{% if page.lang == 'English' %}
<!--add id to lang span-->
  <script type="text/javascript">
    $("a.English").addClass('highlight')
  </script>
{% endif %}


<div class='limiter2'>

    <div class='title-block2'>
      <h2>
        {{page.title}}
        {% if page.subtitle %}
          <span class='subtitle'>{{page.subtitle}}</span>
        {% endif %}
      </h2>
    </div>

</div>

<div class='limiter2'>

    <section class="top_panel">

          <div class='title-block-text'>
                <div class='prose'>Nestled high in the Andes Mountains in southeastern Peru, Cusco is rich with history. Cusco was the historic capital of the Inca Empire from the 13th to the 16th century and is declared a World Heritage Site by UNESCO. As the location of the Secondary Cities's Pilot project, the proposal is to build an open source, scale-able geodataset through enhancing local expertise and facilitating alignment between communities, governments and agencies. Cusco is a dynamic environment facing risks including flooding and landslides. Secondary Cities is promoting geospatial technologies and map making to address essential planning issues through partnering with the National University of Saint Anthony the Abbot of Cusco, the Office of the Geographer, the US Embassy, and ESRI.
                </div>
          </div>


        <figure id="changedetection">
                <a href="{{site.baseurl}}/cusco-change-detection"><img src="{{site.baseurl}}/img/cusco_change_dect.png" style="width:500px"></a>
                <figcaption>Fig. - detecting change in the built-up area around Cusco from 2000 to 2014</figcaption>
        </figure>

    </section>


    <section class='section snapshot'>

        <div class="static_map"  id="cusco_circular_zoomedout"></div>

        <div class="static_map" id="cusco_circular_zoomedin"></div>

    </section>
<!--
     <div class:'static_map'>
        <img src='http://api.tiles.mapbox.com/v4/mapbox.streets/-71.96,-13.53,11/500x300.png?access_token=pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ'>
     </div>
-->
<!--
    <div class='download_button'>
      <span class='button toggle'>Download the data</span>
    </div>

<div class='map-containment2'>
  <div id='map' class='map'></div>
</div>
-->

<!--http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_menu_list-inline&stacked=h-->

    <div>
        </br>
            <h3>Workshop Instructions</h3>
        </br>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Day 1</a></li>
      <li><a data-toggle="tab" href="#menu1">Day 2</a></li>
      <li><a data-toggle="tab" href="#menu2">Day 3</a></li>
      <li><a data-toggle="tab" href="#menu3">Day 4</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3>Day 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Day 2</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Day 3</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="menu3" class="tab-pane fade">
        <h3>Day 4</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>



</div>

</body>
</html>


