---
layout: interactive2
category: casestudy
city: 'cusco'
country: 'Peru'
id: 'cusco'
pageID: 'cusco'
subtitle: 'Emerging Partnerships'
tags:
- cusco
- featured
- splash
---

<div class='limiter2'>

</div>

<div class='bodylimiter'>

  <div class='title-block2' id="summary">
    <h2>
      {{page.title}}
      {% if page.subtitle %}
        <span class='subtitle'>{{page.subtitle}}</span>
      {% endif %}
    </h2>
  </div>

  <div class="row">

    <div class="col-md-9">

        <div class='prose'>
          <p>The Cusco Secondary Cities project is a comprehensive geospatial approach to data collection and generation for emergency preparedness and urban sustainability. The goal of this project is to link geospatial tools, expertise, and applications that address critical humanitarian needs for long-term planning and development.<p>
        </div>

        <br>
        <section class='section snapshot' style="background: url('{{site.baseurl}}/img/WebsiteBackgroundMap-1200w.png') no-repeat">

          <!--<div class="static_map"  id="cusco_circular_zoomedout"></div>-->
          <div class="static_map" id="cusco_circular_zoomedout"  style="background: url('{{site.baseurl}}/img/SouthAmericaZoomedOut-300w.png') no-repeat"></div>

          <!--<div class="static_map" id="cusco_circular_zoomedin"></div>-->
          <div class="static_map" id="cusco_circular_zoomedin"  style="background: url('{{site.baseurl}}/img/CuscoZoomedIn-300w.png') no-repeat"></div>
        </section>
        <br>

        <h2 id="workshop">Workshop:  June 29 – July 3</h2>
        <section>
          <div class='prose'>
          <p>  
          The 5-day workshop launched the Office of the Geographer’s Secondary Cities project to map critical data in rapidly growing urban regions of the world.  Cusco, Peru was selected for the initial project to create a demonstration focusing on data generation of human geography themes for emergency preparedness, security, and resilience.  The goal of this workshop was to teach spatial thinking by exploring geospatial science through the integration of multiple geospatial tools.  Students learned basic skills for field-based data generation, management and sharing as well as the fundamentals of generating geospatial data and cartography.
          <p><p>
          The workshop included 26 participants:  <a target="_blank" href="http://www.unsaac.edu.pe/">Universidad Nacional de San Antonio Abad del Cusco - UNSAAC</a> (9); <a target="_blank" href="http://www.uap.edu.pe/">Universidad Alas Peruanas -UAP</a> (4); <a target="_blank" href="http://www.regioncusco.gob.pe/">Cusco Regional government</a> (7); the <a target="_blank" href="http://www.minagri.gob.pe/">Ministry of Agriculture</a> (1) and <a target="_blank" href="http://www.indeci.gob.pe/">Instituto Nacional de Defensa Civil del Peru – INDECI</a> (2).  Participants had a broad range of backgrounds, came from numerous disciplines, and had a mix of GIS skills.  University students were partnered with government representatives to share perspectives and experience and to establish teams for the follow up activities of the workshop.
          <p><p>
          This was a unique workshop for three reasons:  
          <ol class='indent'>
          <li>
          demonstration and learning of how cutting-edge geospatial tools can be seamlessly integrated 
          </li>
          <li>
          emphasis on hands-on, field-based data generation and analysis of human geography data for emergency preparedness, human security and resilience 
          </li>
          <li>
          long term investment through follow up activities.  
          </li>
          </ol>
            <div class="clearfix">
                <!--code for picasa photo album-->
                <table align="left" style="width:190px;margin-right:40px;"><tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_20150712.00_p0/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/105172942388203872264/SecondaryCitiesCuscoPilotWorkshopWebsite?authuser=0&feat=embedwebsite"><img src="https://lh3.googleusercontent.com/-RQvTpUg8zbI/VZx753yml9E/AAAAAAAABBE/rWP4y6j6iwo/s160-c-Ic42/SecondaryCitiesCuscoPilotWorkshopWebsite.jpg" width="190" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:16px"><a href="https://picasaweb.google.com/105172942388203872264/SecondaryCitiesCuscoPilotWorkshopWebsite?authuser=0&feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Secondary Cities Cusco Pilot Workshop - Photo Album</a></td></tr></table>

                Additionally, the high level of interest of the workshop students fueled a highly interactive session enriched by the diverse backgrounds of the participants, the Ministry of the Environment, Ministry of Agriculture, Cusco Regional Government and University students. The workshop culminated in a team project and presentation demonstrating how the integration of technologies facilitates field data collection, sharing and analysis. 

            </div>
          </div>
        </section>

      <h2 id="outcomes">Outcomes</h2>
      <section>
        <div class="prose">
          <ul class="indent restore_wrap">
            <li>6 field-based projects collecting data on neighborhoods of the National University of Saint Anthony the Abbot of Cusco</li>
            <li>Preliminary data on <a href="http://cuscogeonode.state.gov/">thematic human geography data</a></li>
            <li>Established teams of university and government representatives</li>
            <li>Partnership with Office of the Geographer, ESRI, UNSAAC, US Embassy</li>
            <li><a target="_blank" href="{{ site.baseurl }}/casestudy/cusco/#collaboration">Follow-up activities</a></li>
          </ul>
        </div>
      </section>

      <p>
      <h2 id="tools">Tools</h2>
      <section class="prose">
        Students were introduced to a suite of geospatial tools.  Working with different tools, both industry standards (i.e. ArcGIS) and open source (i.e., OpenStreetMap), workshop participants were provided a broad array of choices.  Additionally they learned about how these tools can be integrated for value-added products and flexible data collection techniques.
        <br>
        <br>
        <table>
          <tr>
            <th>Data Generation</th>
            <th>Data Management</th>
            <th>Data Sharing</th>
            <th>Field Data</th>
            <th>GPS</th>
          </tr>
          <tr>
            <td><a target="_blank" class="grey_link" href="http://www.esri.com/software/arcgis/arcgis-for-desktop">ArcGIS (ArcMap)</a></td>
            <td><a target="_blank" class="grey_link" href="http://resources.arcgis.com/en/help/main/10.1/index.html#//006m00000001000000">ArcGIS (ArcCatalog)</a></td>
            <td><a target="_blank" class="grey_link" href="https://www.arcgis.com/home/">ArcGIS OnLine</a></td>
            <td><a target="_blank" class="grey_link" href="http://survey123.esri.com/#/home">Survey123</a></td>
            <td><a target="_blank" class="grey_link" href="http://osmand.net">OSMand</a></td>
          </tr>
          <tr>
            <td><a target="_blank" class="grey_link" href="http://survey123.esri.com/#/home">Survey123</a></td>
            <td><a target="_blank" class="grey_link" href="http://cuscogeonode.state.gov/">Cusco Geonode</a></td>
            <td><a target="_blank" class="grey_link" href="http://cuscogeonode.state.gov/">Cusco Geonode</a></td>
            <td><a target="_blank" class="grey_link" href="http://fieldpapers.org">Field Papers</a></td>
            <td><a target="_blank" class="grey_link" href="https://play.google.com/store/apps/details?id=com.discipleskies.android.polarisnavigation&hl=en">Polaris Navigator</a></td>
          </tr>
          <tr>
            <td><a target="_blank" class="grey_link" href="https://www.openstreetmap.org/">OpenStreetMap</a></td>
            <td></td>
            <td><a target="_blank" class="grey_link" href="https://www.openstreetmap.org/">OpenStreetMap</a></td>
            <td>Android with GPS Apps</td>
            <td><a target="_blank" class="grey_link" href="http://sites.garmin.com/en-US/etrex/">Garmin eTrex</a></td>
          </tr>
          <tr>
            <td><a target="_blank" class="grey_link" href="https://products.office.com/en-us/excel">Excel spreadsheets</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

      </section>

      <h2 id="data">Data</h2>
      <section class="prose">

        <ul class="indent restore_wrap">
          <li>Students used multiple data types and formats as well as generating their own data.  Working with <a href="http://esa.un.org/unpd/wup/">UN population data</a>, students learned the nuances of working with attribute data, understanding spreadsheets and using simple formulas in Excel, joining tables in ArcMap, and symbolizing data for visualization.  </li>
          <li>Students were introduced to the fundamentals of remote sensing and used high resolution satellite imagery to collect data for emergency preparedness and urban sustainability.  Students used <a target="_blank" href="http://landsat.usgs.gov/">Landsat imagery</a> to assess land use patterns.</li>
          <li>Students developed field data collection skills through using smartphones with GPS apps and <a target="_blank" href="http://survey123.esri.com/">Survey123</a>.  After creating a survey form using XLSform specification, students used Survey123 mobile app to collect data.  Using both smartphones with GPS apps and hand-held GPS units, students could compare results and assess the different tools.</li>
        </ul>

        <strong>Data Sharing</strong>
        Essential to data for emergency preparedness are strategies for sharing these data.  Students were introduced to the <a target="_blank" href="http://cuscogeonode.state.gov/">Cusco Geonode</a> where data are discoverable and can be shared amongst multiple users.  Additionally, students learned about the metadata capabilities of Geonode and the importance of following proper protocols and practices for good metadata that enhances sharing and discoverability.

      </section>

      <h2 id="capstone">Capstone Project</h2>
      <section class="prose">
        Using an earthquake as the scenario, students were tasked with collecting thematic data needed for emergency preparedness.  The exercise was situated in the University area, focusing on the adjacent neighborhoods.  Working in teams and assigned a specific neighborhood, students used their newly acquired field data collection skills to collect data on at least two <a target="_blank" href="{{site.baseurl}}/img/hg_themes_en.png">human geography themes</a>.  The scenario for the project was to respond to an earthquake event by collecting thematic data needed for emergency preparedness based on human geography themes.
        <!--https://css-tricks.com/snippets/css/clear-fix/-->
        <div class="clearfix">
          <figure id="capstone_neighborhoods">
                  <!--<img src="{{site.baseurl}}/img/capstone_neighborhoods.png" style="width:700px">-->
                  <div style='position:relative'>
                    <img src="{{site.baseurl}}/img/capstone_neighborhoods.png" alt="neighborhoods"  style='position:relative; z-index:0;'/>
                    <canvas id='myCanvas' height='390' width='700' style='position:absolute; top:0px; left:0px;'>Canvas is not supported by your browser.</canvas>
                    <!--invisible img map (before added this line; img needed to be on top to get coords, but then needed to be on bottom or have low opacity to see the canvas polygons that get drawn-->
                    <img border="0" usemap="#Map" style='position:absolute; top:0px; left:0px; width:100%; height:100%; ' usemap="#imgmap" />
                  </div>
                  <figcaption>Fig. - map of neighborhoods</figcaption>
                  <map name="Map" id="Map">
                      <!--used https://developer.cdn.mozilla.net/media/uploads/demos/s/u/summerstyle/365ccfd644f2b008c33f0046d2ba1a8f/summer-html-image-ma_1355318513_demo_package/index.html to create areas -->
                      <area class="mapPart" alt="groupo1" title="Groupo 1" shape="poly" coords="147, 155, 154, 117, 165, 117, 190, 99, 198, 102, 229, 62, 247, 58, 247, 49, 263, 50, 267, 41, 271, 8, 353, 55, 342, 73, 346, 76, 343, 83, 326, 77, 326, 113, 331, 126, 302, 151, 283, 142, 246, 160, 238, 175" />
                      <area class="mapPart" alt="groupo2" title="Groupo 2" shape="poly" coords="352, 57, 366, 59, 418, 94, 433, 121, 423, 144, 410, 145, 388, 175, 379, 210, 217, 184, 216, 172, 237, 177, 249, 160, 286, 144, 303, 153, 332, 126, 327, 112, 327, 78, 341, 86, 349, 77, 343, 71" />
                      <area class="mapPart" alt="groupo3" title="Groupo 3" shape="poly" coords="461, 103, 466, 120, 564, 252, 379, 210, 388, 172, 412, 147, 426, 147, 434, 124, 425, 98, 442, 86" />
                      <area class="mapPart" alt="groupo4" title="Groupo 4" shape="poly" coords="405, 221, 508, 241, 499, 304, 506, 309, 506, 324, 390, 287" />
                      <area class="mapPart" alt="USAAC" title="USAAC" shape="poly" coords="344, 207, 402, 222, 388, 286, 326, 268" />
                      <area class="mapPart" alt="groupo5" title="Groupo 6" shape="poly" coords="148, 221, 257, 255, 251, 273, 251, 300, 141, 257, 113, 257, 134, 225" />
                      <area class="mapPart" alt="groupo6" title="Groupo 7" shape="poly" coords="259, 256, 397, 295, 395, 330, 405, 349, 401, 367, 253, 300, 251, 272" />

                  </map>
                  
          </figure>
        </div> <!--div contains picture of neighborhoods-->

        <ul id="group-project" class="nav nav-tabs">
          <!--<li><a data-toggle="tab" href="#menu1">Creating new data</a></li>-->
        </ul>

        <!--on click need to add class="tab-pane fade in active" to divs-->
        <div id="group-projects" class="tab-content">
          <div id="groupo1" class="tab-pane fade">
            <h2></h2> <!--h2 style is the color white right now-->
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">PROYECTO TALLER:EVALUACION DE LA RESILIENCIA DEL SECTOR RECOLETA-COLLASUYO</a></p>
          </div>
          <div id="groupo2" class="tab-pane fade">
            <h2></h2>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">MAPEO DE CIUDADES SECUNDARIAS PARA RESILENCIA Y PREPARACION  DE EMERGENCIAS/a></p>
          </div>
          <div id="groupo3" class="tab-pane fade">
            <h2></h2>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">IDENTIFICACIÓN DE PUNTOS VULNERABLES EN EDUCACIÓN Y RELIGIÓN</a></p>
          </div>
          <div id="groupo4" class="tab-pane fade">
            <h2></h2>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">PROYECTO DE GENERACION DE INFORMACION  PARA ANALIZAR LA CAPACIDAD DE RESPUESTA  A UN SISMO</a></p>
          </div>
          <div id="groupo5" class="tab-pane fade">
            <h2></h2>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">EN CASO DE SISMO</a></p>
          </div>
          <div id="groupo6" class="tab-pane fade">
            <h2></h2>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">PROYECTO DE GEOGRAFÍA HUMANA: EDUCACIÓN Y SALUD</a></p>
          </div>
          <div id="USAAC" class="tab-pane fade">
            <h2></h2>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">USAAC</a></p>
          </div>
        </div>

        <script type="text/javascript">
                      var cv = document.getElementById('myCanvas');
                      var context = cv.getContext('2d');

                      context.clearRect(0, 0, cv.width, cv.height);

                      $('.mapPart').mouseover(function () {
                          var coordStr = this.getAttribute('coords');
                          // draw
                          drawPolygon(context, coordStr);
                      });

                      $('.mapPart').mouseout(function () {
                          // clear
                          context.clearRect(0, 0, cv.width, cv.height);
                      });

                      $('.mapPart').mousedown(function () {
                          var altStr = this.getAttribute('alt');
                          var titleStr = this.getAttribute('title');
                          selContent(altStr, titleStr);
                      });

                      $('.mapPart').mouseup(function () {
                          var altStr = this.getAttribute('alt');
                          var titleStr = this.getAttribute('title');
                          selContent(altStr, titleStr);
                      });

                      //need to parse this div, get all the alt names, so I can make them all inactive during mouseclick, so I can then only make the one that is clicked active. Probably better to use JQuery for this
                      var groupoArr = []

                      $( document ).ready(function() {
                        console.log( 'ready!' );

                        
                        $('.mapPart').each(function(index,value) {
                            //console.log(index + ":" + $(this).attr('alt'));
                            groupoArr.push($(this).attr('alt'));
                        });
                        
                        //console.log(groupoArr);

                      }); //end of JQuery document ready function
                      
                      //console.log(groupoArr);

                      //draw poly and
                      function drawPolygon(hdc, coOrdStr) {
                          var mCoords = coOrdStr.split(',');
                          var i, n;
                          n = mCoords.length;

                          hdc.beginPath();
                          hdc.moveTo(mCoords[0], mCoords[1]);
                          for (i = 2; i < n; i += 2) {
                              hdc.lineTo(mCoords[i], mCoords[i + 1]);
                          }
                          hdc.lineTo(mCoords[0], mCoords[1]);
                          hdc.lineWidth="12";
                          hdc.strokeStyle="#ff0000"; // red path
                          hdc.globalAlpha=".4"  // transparency
                          hdc.stroke();

                      }
                      //select content to display
                      function selContent(groupId,projectTitle) {
                        document.getElementById('group-project').innerHTML = "<li><a data-toggle='tab' href=" + groupId + ">" + projectTitle + "</a></li>";

                        //console.log("groupId: ")
                        //console.log(groupId)

                        for (i = 0; i < groupoArr.length; i++) { 
                          document.getElementById(groupoArr[i]).className = "tab-pane fade";
                        }
                        
                        document.getElementById(groupId).className = "tab-pane fade in active";
                      }
                  </script>

      </section>
      <!--end of top_panel section
      </section>-->

      <br><br>

      <div class='tabdiv' id="materials">
        <div>
            <h2>Materials</h2>
            </br>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Introduction to GIS</a></li>
          <li><a data-toggle="tab" href="#menu1">Creating new data</a></li>
          <li><a data-toggle="tab" href="#menu2">Field data collection</a></li>
          <li><a data-toggle="tab" href="#menu3">Remote Sensing using Satellite Imagery</a></li>
          <li><a data-toggle="tab" href="#menu4">Data Sharing</a></li>
          <!--<li><a data-toggle="tab" href="#menu5">Workshop Project</a></li>-->
          <li><a data-toggle="tab" href="#menu6">Working in ArcGIS – Additional Tools</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>Introduction to GIS</h3>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/Exercise1_Introduction-to-ArcGIS.pdf">Exercise 1: Introduction to ArcGIS</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/WhatIsGIS_Lecture.pdf">What is GIS Lecture</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/SpatialThinking_GIS_Lecture.pdf">Spatial Thinking GIS Lecture</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day1-intro-to-gis/WUP2014-F22-Cities_Over_300K_Annual.xls">Cities_Over_300K_Annual dataset</a></p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Creating new data</h3>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/SketchMapping_Lecture.pdf">Sketch Mapping Lecture</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/Peru_Cusco_Exercise2_2015_ver2.pdf">Exercise 2</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/SecondCit_Peru_arcgis.xlsx">Secondary Cities Peru dataset</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/participants-sketch-maps/map1.JPG">participant sketch maps: Map 1</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/participants-sketch-maps/map2.JPG">participant sketch maps: Map 2</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/participants-sketch-maps/map3.JPG">participant sketch maps: Map 3</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/participants-sketch-maps/map4.JPG">participant sketch maps: Map 4</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day2-creating-new-data/participants-sketch-maps/map5.JPG">participant sketch maps: Map 5</a></p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Field data collection</h3>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day3-field-data-collection/FieldDataCollection_Lecture.pdf">Field Data Collection Lecture</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day3-field-data-collection/Exercise3_CollectingFieldData.pdf">Exercise 3</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day3-field-data-collection/NextView_License_Eng_Spanish.pdf">NextView License</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day3-field-data-collection/Atlas_FieldPapers_OSM.pdf">Atlas Field Papers: OSM</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day3-field-data-collection/Atlas_FieldPapers_Sat.pdf">Atlas Field Papers: Satellite</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day3-field-data-collection/FieldPapers IMG.JPG">Field Papers printout example</a></p>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Remote Sensing using Satellite Imagery</h3>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day4-remote-sensing/RemoteSensing&HumanGeography_Lecture.pdf">Remote Sensing & Human Geography Lecture</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day4-remote-sensing/Exercise 4a Remote Sensing & Human Geography.pdf">Exercise 4a Remote Sensing & Human Geography</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day4-remote-sensing/Exercise 4b Change Detection.pdf">Exercise 4b Change Detection</a></p>
          </div>
          <div id="menu4" class="tab-pane fade">
            <h3>Data Sharing</h3>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day5-data-sharing/CuscoGeoNode_Lecture.pdf">CuscoGeoNode Lecture</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/day5-data-sharing/SC_Cusco_Exercise5_ml.pdf">CuscoGeoNode Exercise</a></p>
          </div>
          <!--
          <div id="menu5" class="tab-pane fade">
            <h3>Workshop Project</h3>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/Atlas_FieldPapers_OSM.pdf">Field Papers Atlas: OSM basemap</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/Atlas_FieldPapers_Sat.pdf">Field Papers Atlas: Satellite basemap</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/Workshop Project.pdf">Field Papers Atlas: OSM basemap --version 2</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/HG_Neighborhood.pptx">Human Geography Neighborhood PowerPoint</a></p>
          </div>
        -->
          <div id="menu6" class="tab-pane fade">
            <h3>Working in ArcGIS – Additional Tools</h3>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/additional-tools/Additional exercises.pdf">Additional exercises</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/additional-tools/CuscoWorkshopSchedule_28June.pdf">Cusco Workshop Schedule</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/additional-tools/Overview_Workshop_June28.pdf">Workshop Overview</a></p>
            <p><a target="_blank" href="{{site.baseurl}}/workshop-materials/en/cusco/additional-tools/13 themes of Human Geography.pdf">The 13 themes of Human Geography</a></p>
          </div>
        </div>
      </div> <!--end of materials section-->

      <section id="collaboration">
        <h2>Collaboration</h2>
        <div class="prose">
          <ul class="indent restore_wrap">
            <li>Slack, a messaging applications for teams, will be set up to facilitate communication and tracking of follow up projects and activities.</li>
            <li>Change detection webinar will be hosted to discuss the exercise and analysis demonstrated in the workshop.</li>
            <li><a target="_blank" href="http://mapgive.state.gov">MapGive</a> project</li>
            <li>Discuss and develop data generation projects:  solicit, identify and prioritize data generation project.</li>
          </ul>
        </div>

        <div class="clearfix">
            <figure id="changedetection" >
                  <a target="_blank" href="{{site.baseurl}}/cusco-change-detection"><img src="{{site.baseurl}}/img/cusco_change_dect.png" style="width:500px"></a>
                  <figcaption>Fig. - As part of the workshop remote sensing lesson, students used Landsat 7 and Landsat 8 imagery to assess change detection in Cusco from 2000 to 2014.  Using Image Analysis in ESRI’s ArcGIS software package, student undertook a change detection analysis.</figcaption>
            </figure>
          </div>
      </section>

    <br><br>

    <!--end of col9-->
    </div>

    <div class="col-md-offset-1 col-md-2">
      
    {% if page.lang == 'English' %}
      {% include more-info-en.html %}
    {% elsif page.lang == 'Español' %}
      {% include more-info-es.html %}
    {% endif %}

    </div>

    <!--end of row-->
    </div>

</div>

</body>
</html>


