---
published: true
layout: default
permalink: /
title: 'home'
slideshow: 
  - slide: "frontpage-cusco.png"
    title: Creating Data
    subtitle: Developing data through geospatial data collection techniques using GIS, GPS, satellite imagery, and field data.
  - slide: "frontpage-cusco2.png"
    title: Resilience
    subtitle: Tapping into the capacity of a community to recover from stress, disaster, and catastrophy through community engagement and participatory mapping.
  - slide: "frontpage-cusco3.png"
    title: "Emergency preparedness"
    subtitle: "Anticipating disaster and humanitarian needs through targeted data collection of place-based risk and hazards"
---
<!--
{% assign posts=site.posts | where:"title", page.title | sort: 'path' %}
<ul>
{% for post in posts %}
    <li class="lang">
        <a href="{{site.baseurl}}{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
    </li>
{% endfor %}
</ul>
-->

{% if page.lang == 'English' %}
<!--add id to lang span-->
  <script type="text/javascript">
    $("a.English").addClass('highlight')
  </script>
{% endif %}

<div class='section dark'>
  <div class='limiter'>
    <div id='tagline' class='centered'>
      <p>Secondary Cities creates partnerships meant to catalyze the creation, management and use of open data along with the application of innovation and technology to enable more resilient, sustainable, and better mapped cities.</p>
      </div>
    <h4 class='title centered'>Select Case Studies<br /> <span class='subtitle'>Discover innovative examples of open data and community empowerment</span></h4>
    <ul class='activities grid clearfix'>
      {% for case in site.categories.casestudy%}
        {% if page.lang == case.lang %}
          {% for tag in case.tags %}
            {% if tag == 'splash' %}
              <li>
                <a href='{{site.baseurl}}{{case.url}}' style='background-image:url("http://api.tiles.mapbox.com/v3/{{case.map}}/{{case.center[0].lon}},{{case.center[0].lat}},{{case.center[0].zoom}}/640x300.png");'>
                  <div class='overlay'></div>
                  <div class='label'>
                    {% for name in site.categories.cities %}
                      {% if name.city == case.city %}
                        <!--{{name.title}}-->
                      {% endif %}
                    {% endfor %}
                  </div>
                  <h4 class='case-title'>{{case.title}}, {{case.country}}</h4>
                  <p class='city-desc'>{{case.subtitle | truncate:120}}</p>
                  <span class='more'>More</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>

<!--
    <div class='centered'>
      <a href='#' class='button toggle'>Load More</a>
    </div>
-->
    <ul class='activities grid toggled clearfix'>
      {% for case in site.categories.casestudy offset:3 %}
      <li>
        <a href='{{site.baseurl}}{{case.url}}' style='background-image:url("http://api.tiles.mapbox.com/v3/{{case.map}}/{{case.center[0].lon}},{{case.center[0].lat}},{{case.center[0].zoom}}/640x300.png");'>
          <div class='overlay'></div>
          <div class='label'>
            {% for name in site.categories.cities %}
              {% if name.city == case.city %}
                {{name.title}}
              {% endif %}
            {% endfor %}
          </div>
          <h4 class='case-title'>
            {{case.title}}</h4>
          <p class='city-desc'>{{case.subtitle | truncate:120}}</p>
          <span class='more'>More</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='section data-coverage'>
  <h4 class='title centered'>Secondary Cities</h4>
  <div class='map' id='data-coverage'>
    <small class='attribution'>Map visualizes the locations of Secondary Cities.</small>
  </div>
</div>

<script>
  var map = mapbox.map('data-coverage', mapbox.layer().id('saman.map-nzxr8zw8'), null, [
        easey_handlers.DragHandler(),
        easey_handlers.DoubleClickHandler()
  ]);

  map.setZoomRange(4, 4);
  map.zoom(4).center({
    lat:22.384,
    lon:90.055
  });

  $('.toggle').click(function() {
      $('.toggled').addClass('on');
      $('.toggle').remove();
      return false;
  });

</script>
