---
---
<!DOCTYPE html>
<html>
<head>

{% include dochead.html %}

</head>

<body id="mainbody">
  <div class='interactive'>
    <div class='interactive-heading'>
      <div class='globals'>

        <div class='limiter'>
          <a href='#' class='close'>&times;</a>
          <a href='#' id='toggle' class='icon toggle'>Toggle Nav</a>

          <div class='nav clearfix'>

              <ul class='menu_list'>
                <li>
                      <!--<a href='{{site.baseurl}}/about'{% if page.url == "/about" %}{% endif %}>About&nbsp;</a>-->
                      <!--using global variables specified in the config file-->
                  {% if page.lang == "English" %}
                    <a href='{{site.baseurl}}/{{site.t.[page.lang].about_link}}'>{{site.t.[page.lang].about}}&nbsp;</a>
                  {% else %}
                    <a href='{{site.baseurl}}/{{site.t.[page.lang].lang}}/{{site.t.[page.lang].about_link}}'{% if page.url == "/about" %}{% endif %}>{{site.t.[page.lang].about}}&nbsp;</a>
                  {% endif %}
                </li>

                <li>

                {% assign posts=site.posts | where:"title", page.title | sort: 'path' %}

                {% for post in posts %}
                    <span class="lang">
                        <a href="{{site.baseurl}}{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
                    </span>
                {% endfor %}

                </li>

            </ul>

          </div>

          <!--the logo for the banner-->
          <a href='{{site.baseurl}}/{{site.t.[page.lang].home_link}}' class='icon3 SecondaryCitiesLogo_white_banner'>Open Cities</a><span id='city_header' >in {{page.city | capitalize}}</a>
          <!--<a href='{{site.baseurl}}/'><img src='{{site.baseurl}}/img/SecondaryCitiesLogo_white.png' width='150px'></a>-->
        </div>

      </div>
    </div>
  </div>

{% if page.lang == 'English' %}
    <!--add id to lang span-->
      <script type="text/javascript">
        $("a.English").addClass('highlight')
      </script>
    {% elsif page.lang == 'Español' %}
      <script type="text/javascript">
        $("a.Español").addClass('highlight')
      </script>
    {% endif %}

{{content}}

</body>
</html>
